<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.3.1.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Server.Properties.Settings.RunUOContainer" connectionString="Data Source=BONES-PC\SQLRELPOR;Initial Catalog=runuodata;Persist Security Info=True;User ID=panbaked;Password=sahufxqq1" providerName="System.Data.SqlClient"/>
    <add name="runuodataEntities" connectionString="metadata=res://*/Scripts.Custom.WebService.RunUOModel.csdl|res://*/Scripts.Custom.WebService.RunUOModel.ssdl|res://*/Scripts.Custom.WebService.RunUOModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BONES-PC\SQLRELPOR;initial catalog=runuodata;persist security info=True;user id=panbaked;password=sahufxqq1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="runuodataEntities1" connectionString="metadata=res://*/Scripts.Custom.WebService.RunUOEntities.csdl|res://*/Scripts.Custom.WebService.RunUOEntities.ssdl|res://*/Scripts.Custom.WebService.RunUOEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BONES-PC\SQLRELPOR;initial catalog=runuodata;persist security info=True;user id=panbaked;password=sahufxqq1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="runuodataEntities2" connectionString="metadata=res://*/Scripts.Custom.WebService.RunUOEntities.csdl|res://*/Scripts.Custom.WebService.RunUOEntities.ssdl|res://*/Scripts.Custom.WebService.RunUOEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BONES-PC\SQLRELPOR;initial catalog=runuodata;persist security info=True;user id=panbaked;password=sahufxqq1;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="Data Source=.\SQLEXPRESS; Integrated Security=True; MultipleActiveResultSets=True"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <Server.Properties.Settings>
      <setting name="runuodataEntities2" serializeAs="String">
        <value>Data Source=BONES-PC\SQLRELPOR;Initial Catalog=runuodata;Persist Security Info=True;User ID=panbaked;Password=sahufxqq1</value>
      </setting>
    </Server.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
